*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #000;
}

/* Header */

header{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
}

button{
    background-color: #181717;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-left: 5px;
}

header button p{
    padding-left: 10px;
}

header button{
    display: flex;
    align-items: center;
}

/* Image */

.image{
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
}

.image img{
    margin-right: 10px;
    margin-top: 10px;
}

.image li{
    position: relative;
    list-style: none;
    display: flex;
}

.icon-text{
    position: absolute;
    background-color: #00000093;
    color: #fff;
    padding: 5px;
    bottom: 0;
    left: 0;
}